body{
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  scroll-behavior: smooth;
  overflow: hidden; 
}

img{
  max-width: 90%;
}
nav{
  height: 5%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  background: rgba(0,0,0,0.6);
  border-bottom: 1 solid #fff;

}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  float: right;

}
nav .logos{
  color: #fff;
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a {
  line-height: 50px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform:uppercase;
}

nav ul li a:hover{
  background:rgba(0,0,0,0.7);
  border-radius: 6px;
}

section{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: slategrey;
    background: url(../grafika/tlo.jpg);
    background-size: cover;
    background-position: center;


  }
  .page_text{
    color:white;
    width: 50%;
    border: 2px solid #8edbff;
    background-color: #000;

    font-size: 19px;
    text-align: center;
  }
  main {
    display: block;
    height: 100vh;
    width: 100vw;
}

.uklad{ /* obrazek_strona_1*/
  width:640px;
  height: 340px;
}
p{  
  margin-left: 1vh;
}

ul {

margin-left: 20vw;
margin-right: 20vw;
}
ul a{
  text-decoration: none;
  font-size: 3vh;
  color: #4169E1;
}
#merkury{
  list-style-image: url(../grafika/planety/merkury1.gif);
}
#wenus{
  list-style-image: url(../grafika/planety/wenus.gif);
}
#ziemia{
  list-style-image: url(../grafika/planety/ziemia.gif);

}
#mars{
  list-style-image: url(../grafika/planety/mars.gif);

}
#jowisz{
  list-style-image: url(../grafika/planety/jowisz.gif);

}
#saturn{
  list-style-image: url(../grafika/planety/saturn.gif);

}
#uran{
  list-style-image: url(../grafika/planety/uran.jpg);

}
#neptun{
  list-style-image: url(../grafika/planety/neptun.gif);

}
#pluton{
  list-style-image: url(../grafika/planety/pluton.gif);

}

h1, h2, h3, h4,h5{
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: yellow;
  color:black;
  border: 1px inset rgba(255,254,41,0.8);
  border-radius: 1vw;
  border-width: medium;
}

 #zawartosc_galerii{
margin-bottom: 1%;
 } 
footer {
  position:fixed;
  bottom:0px;
  height:30px;
  width:100%;
  background-color:rgba(0,0,0,0.6);
  color:grey;
  text-align: center;
}
fieldset{
margin: 2%;
}



/*responsywność */
@media only screen and (max-width: 1500px) 
{
.page_text{
width: 80%;
font-size: 55%;

}
.uklad{
  max-width: 35%;
  height: 35%;
}
nav{
  height: 3.5%;
  background: rgba(0,0,0,0.6);
}
nav ul{
display: flex;
float: right;
}
nav .logos{
  font-size: 40%;
  float: left;
  padding: 0;
}
nav ul li a{

  display: block;
  font-size: 40%;
  position: relative;
  padding: 0px 7px;
  line-height: 25px;
}
ul a{
  font-size: 100%;
}


}